trigger:
  - main
  - master
  - staging
  - development

resources:
  repositories:
    - repository: templates
      type: git
      name: Tech SMS/platform-sms-automation
      ref: main

jobs:
  - template: deployImage/build-image.yml@templates
    parameters:
      imageName: 'kpi-app-backend'
      dockerfile: 'kpi-app-backend/Dockerfile'
      npm: true
      npmLogin: 'false'
      test: 'true'
      scanPath: 'kpi-app-backend/**/*.json'
      suppressionPath: 'suppress-owasp.xml'

  - template: deployImage/build-image.yml@templates
    parameters:
      imageName: 'kpi-app-frontend'
      dockerfile: 'kpi-app/Dockerfile'
      npm: true
      npmLogin: 'false'
      test: 'true'
      scanPath: 'kpi-app/**/*.json'
      suppressionPath: 'suppress-owasp.xml'
