trigger:
- master
- main

resources:
- repo: self

variables:
  # TODO: Create a Docker Registry Service Connection in Azure DevOps
  # and replace 'your-acr-service-connection' with its name.
  dockerRegistryServiceConnection: 'SXC-ACR-Connection'
  imageRepositoryBackend: 'kpi-app-backend'
  imageRepositoryFrontend: 'kpi-app-frontend'
  containerRegistry: 'sxcperformance.azurecr.io'
  dockerfilePathBackend: '$(Build.SourcesDirectory)/kpi-app-backend/Dockerfile'
  dockerfilePathFrontend: '$(Build.SourcesDirectory)/kpi-app/Dockerfile'
  tag: '$(Build.BuildId)'

  # Agent VM image name
  agentPoolName: 'Default'

stages:
- stage: Build
  displayName: Build and push stage
  jobs:
  - job: Build
    displayName: Build
    pool:
      name: $(agentPoolName)
    steps:
    - task: Docker@2
      displayName: Build and push Backend image to container registry
      inputs:
        command: buildAndPush
        repository: $(imageRepositoryBackend)
        dockerfile: $(dockerfilePathBackend)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag)
          latest

    - task: Docker@2
      displayName: Build and push Frontend image to container registry
      inputs:
        command: buildAndPush
        repository: $(imageRepositoryFrontend)
        dockerfile: $(dockerfilePathFrontend)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag)
          latest
