trigger:
  - main
  - staging
  - development

resources:
  repositories:
    - repository: templates
      type: git
      name: "Tech SMS/platform-sms-automation"
      ref: main

jobs:
  - template: deployImage/build-image.yml@templates
    parameters:
      npm: true
      npmLogin: 'false'
      test: 'true'
      # dependencyCheck: 'true'
      scanPath: 'kpi-app-backend'
      suppressionPath: 'suppress-owasp.xml'

  - template: deployImage/build-image.yml@templates
    parameters:
      npm: true
      npmLogin: 'false'
      test: 'true'
      # dependencyCheck: 'true'
      scanPath: 'kpi-app'
      suppressionPath: 'suppress-owasp.xml'
