trigger:
  - main
  - staging
  - development

resources:
  repositories:
    - repository: templates
      type: git
      name: Tech SMS/platform-sms-automation
      ref: main
      endpoint: sms-digital-TechSMS-platform-sms-automation-SXC-PERFORMANCE-KPI

stages:
- stage: BuildBackend
  jobs:
  - template: deployImage/build-image.yml@templates
    parameters:
      npm: false
      npmLogin: false
      test: true
      scanPath: 'kpi-app-backend'
      suppressionPath: 'suppress-owasp.xml'

- stage: BuildFrontend
  jobs:
  - template: deployImage/build-image.yml@templates
    parameters:
      npm: false
      npmLogin: false
      test: true
      scanPath: 'kpi-app'
      suppressionPath: 'suppress-owasp.xml'