trigger:
  - main
  - staging
  - development

resources:
  repositories:
    - repository: templates
      type: git
      name: Tech SMS/platform-sms-automation
      ref: main
      endpoint: sms-digital-TechSMS-platform-sms-automation-SXC-PERFORMANCE-KPI

stages:
- stage: BuildBackend
  jobs:
  - template: deployImage/build-image.yml@templates
    parameters:
      npm: 'true'
      npmLogin: 'false'
      test: 'true'
      scanPath: '.'
      serviceName: 'kpi-backend'
      suppressionPath: 'suppress-owasp.xml'

- stage: BuildFrontend
  jobs:
  - template: deployImage/build-image.yml@templates
    parameters:
      npm: 'true'
      npmLogin: 'false'
      test: 'true'
      scanPath: '.'
      serviceName: 'kpi-frontend'
      suppressionPath: 'suppress-owasp.xml'