trigger:
  - main
  - staging
  - development

resources:
  repositories:
    - repository: templates
      type: git
      name: Tech SMS/platform-sms-automation
      ref: main
      endpoint: sms-digital-TechSMS-platform-sms-automation-SXC-PERFORMANCE-KPI

jobs:
  - job: build_backend
    template: deployImage/build-image.yml@templates
    parameters:
      npm: true
      npmLogin: 'false'
      test: 'true'
      scanPath: 'kpi-app-backend'
      suppressionPath: 'suppress-owasp.xml'

  - job: build_frontend
    template: deployImage/build-image.yml@templates
    parameters:
      npm: true
      npmLogin: 'false'
      test: 'true'
      scanPath: 'kpi-app'
      suppressionPath: 'suppress-owasp.xml'