version: '3.8'
services:
  db:
    image: mcr.microsoft.com/mssql/server
    environment:
      - SA_PASSWORD=YourStrong@Passw0rd
      - ACCEPT_EULA=Y
    ports:
      - "1433:1433"
    networks:
      - app-network

  backend:
    build:
      context: ./backend
    ports:
      - "5000:5000"
    environment:
      - DATABASE_SERVER=db
      - DATABASE_USER=sa
      - DATABASE_PASSWORD=YourStrong@Passw0rd
      - DATABASE_NAME=YourDatabaseName
    depends_on:
      - db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge